body{
    background-color: #fafafa;
    font-family: "Nunito", sans-serif;
    padding: 50px;
}

h1, h2, h3, h4, h5, h6 
{
    font-family: "Science Gothic", sans-serif;
}

a, p {
    color: #4b5156
}

.container{
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #43adeb 0%, #5343e2 43%, #5343e2 100%);
}

.header-bar a {
        color: rgb(247, 247, 247);
        text-decoration: none;
}



#search-add-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#search-area {
    margin-top: 12px;
    display: flex;
}

#add-link {
    color: #EB796f;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px #81413b;
}



.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226)
}

.task-title {
    display: flex;
}

.task-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
}

.task-complete-icon {
    height: 16px;
    width: 16px;
    background-color: rgb(105, 192, 105);
    /* border-radius: 50%; */
}

.task-urgent-icon {
   height: 16px;
    width: 16px;
    background-color: rgb(200, 0, 0);
    /* border-radius: 50%; */
}

.task-incomplete-icon {
    height: 16px;
    width: 16px;
    background-color: rgb(250, 246, 29);
    /* border-radius: 50%; */
}

.delete-link {
    text-decoration: none; 
    font-weight: 900;
    color: #cf4949;
    font-size: 16px;
    line-height: 0;
}


input[type=text],
    input[type=password],
    textarea {
        border: 1px solid #757575;
        border-radius: 5px;
        padding: 10px;
        width: 90%;
    }

label {
    padding-top: 10px !important;
    display: block;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

.button {
    border: 1px solid #757575;
    background-color: #eaedee;
    color: #3175ce;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card-body {
    padding: 20px;

}